interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia/all-access/all-agents/Albert_Einstein/daily/20231001/20231031
  response:
    body:
      string: '{"items":[{"project":"en.wikipedia","article":"Albert_Einstein","granularity":"daily","timestamp":"2023100100","access":"all-access","agent":"all-agents","views":20343},{"project":"en.wikipedia","article":"Albert_Einstein","granularity":"daily","timestamp":"2023100200","access":"all-access","agent":"all-agents","views":21903},{"project":"en.wikipedia","article":"Albert_Einstein","granularity":"daily","timestamp":"2023100300","access":"all-access","agent":"all-agents","views":20717},{"project":"en.wikipedia","article":"Albert_Einstein","granularity":"daily","timestamp":"2023100400","access":"all-access","agent":"all-agents","views":20881},{"project":"en.w[...]
