interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/top/en.wikisource/all-access/2023/10/all-days
  response:
    body:
      string: "{\"items\":[{\"project\":\"en.wikisource\",\"access\":\"all-access\",\"year\":\"2023\",\"month\":\"10\",\"day\":\"all-days\",\"articles\":[{\"article\":\"Special:Search\",\"views\":157087,\"rank\":1},{\"article\":\"Main_Page\",\"views\":119427,\"rank\":2},{\"article\":\"Constitution_of_the_Republic_of_South_Africa,_1996\",\"views\":27834,\"rank\":3},{\"article\":\"Dictionary_of_spoken_Spanish\",\"views\":10934,\"rank\":4},{\"article\":\"Category:Proofread\",\"views\":9476,\"rank\":5},{\"article\":\"Debbie_Does_Dallas\",\"views\":9408,\"rank\":6},{\"article\":\"Bible_(King_James)/Matthew\",\"views\":7586,\"rank\":7},{\"article\":\"Bible_(King_James)/Genesis\",\"views\":7034,\"rank\":8},{\"[...]
