interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia/all-access/all-agents/Albert_Einstein/daily/20231001/20231007
    response:
      body:
        string: '{"type":"https://mediawiki.org/wiki/HyperSwitch/errors/not_found","title":"Not found.","method":"get","detail":"The date(s) you used are valid, but we either do not have data for those date(s), or the project you asked for is not loaded yet.  Please check https://wikimedia.org/api/rest_v1/?doc for more information.","uri":"/analytics.wikimedia.org/v1/pageviews/per-article/en.wikipedia/all-access/all-agents/Albert_Einsteinzzzz/daily/2015100100/2015103100"}'
      headers:
        content-type:
          - application/json; charset=utf-8
        etag:
          - W/"2522e05ca1d61533a1fd82d68a53015b3450bd83"
        x-client-ip:
          - 74.98.254.100
        x-content-security-policy:
          - default-src 'none'; frame-ancestors 'none'
        x-webkit-csp:
          - default-src 'none'; frame-ancestors 'none'
      status:
        code: 500
        message: Internal-Server-Error
version: 1
