interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia/all-access/all-agents/Albert_Einstein/daily/20231001/20231007
  response:
    body:
      string: '{"items":[{"project":"en.wikipedia","article":"Albert_Einstein","granularity":"daily","timestamp":"2023100100","access":"all-access","agent":"all-agents","views":20343},{"project":"en.wikipedia","article":"Albert_Einstein","granularity":"daily","timestamp":"2023100200","access":"all-access","agent":"all-agents","views":21903},{"project":"en.wikipedia","article":"Albert_Einstein","granularity":"daily","timestamp":"2023100300","access":"all-access","agent":"all-agents","views":20717},{"project":"en.wikipedia","article":"Albert_Einstein","granularity":"daily","timestamp":"2023100400","access":"all-access","agent":"all-agents","views":20881},{"project":"en.wikipedia","article":"Albert_Einstein","granularity":"daily","timestamp":"2023100500","access":"all-access","agent":"all-agents","views":19902},{"project":"en.wikipedia","article":"Albert_Einstein","granularity":"daily","timestamp":"2023100600","access":"all-access","agent":"all-agents","views":18176},{"project":"en.wikipedia","article":"Albert_Einstein","granularity":"daily","timestamp":"2023100700","access":"all-access","agent":"all-agents","views":18134}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2522e05ca1d61533a1fd82d68a53015b3450bd83"
      x-client-ip:
      - 74.98.254.100
      x-content-security-policy:
      - default-src 'none'; frame-ancestors 'none'
      x-webkit-csp:
      - default-src 'none'; frame-ancestors 'none'
    status:
      code: 200
      message: OK
version: 1
