interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/top/en.wikipedia/all-access/2023/10/01
    response:
      body:
        string: '{"type":"https://mediawiki.org/wiki/HyperSwitch/errors/invalid_request","method":"get","detail":["Given year/month/day is invalid date"],"uri":"/analytics.wikimedia.org/v1/pageviews/top/en.wikisource/all-access/2015/10/all-daysz"}'
      headers:
        content-type:
          - application/json; charset=utf-8
        etag:
          - W/"daaee1d3a34d7b9293bd47a86fe77cd09b93eeed"
        x-client-ip:
          - 74.98.254.100
        x-content-security-policy:
          - default-src 'none'; frame-ancestors 'none'
        x-webkit-csp:
          - default-src 'none'; frame-ancestors 'none'
      status:
        code: 500
        message: Internal-Server-Error
version: 1
