interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/top/en.wikipedia/all-access/2023/10/01
  response:
    body:
      string: "{\"items\":[{\"project\":\"en.wikipedia\",\"access\":\"all-access\",\"year\":\"2023\",\"month\":\"10\",\"day\":\"01\",\"articles\":[{\"article\":\"Main_Page\",\"views\":4463089,\"rank\":1},{\"article\":\"Special:Search\",\"views\":1124408,\"rank\":2},{\"article\":\"India_at_the_2022_Asian_Games\",\"views\":321085,\"rank\":3},{\"article\":\"2022_Asian_Games\",\"views\":279668,\"rank\":4},{\"article\":\"Canelo_\xC1lvarez\",\"views\":262629,\"rank\":5},{\"article\":\"XXX:_Return_of_Xander_Cage\",\"views\":243540,\"rank\":6},{\"article\":\"Wikipedia:Featured_pictures\",\"views\":229275,\"rank\":7},{\"article\":\"Tim_Wakefield\",\"views\":227522,\"rank\":8},{\"article\":\"Jawan_(fil[...]
[...]
